<div class="container">
  <div class="heading">
    <p class="chefs-header">GALLERY</p>
    <p class="p-words">Check <span class="colored"> Our Gallery</span></p>
  </div>
  <div class="images">
    <div class="box" data-content="Spagite">
      <img src="../../../assets/images/food-gallery/f-3.jpeg" alt="" />
      <div class="overlay">
        <div class="over"></div>
        <div class="content">
          <h1>Pizza</h1>
          <p>Hawaiian pizza with ham and pineapple</p>
        </div>
      </div>
    </div>
    <div class="box">
      <img src="../../../assets/images/food-gallery/f-5.jpeg" alt="" />
      <div class="overlay">
        <div class="over"></div>
        <div class="content">
          <h1>Beef steaks</h1>
          <p>
            Tasty beef steaks flying above cast iron grate with fire flames.
          </p>
        </div>
      </div>
    </div>
    <div class="box">
      <img src="../../../assets/images/food-gallery/f-6.jpeg" alt="" />
      <div class="overlay">
        <div class="over"></div>
        <div class="content">
          <h1>Crispy Fried Chicken</h1>
          <p>Golden brown chicken legs with a crunchy coating and juicy meat</p>
        </div>
      </div>
    </div>
    <div class="box">
      <img src="../../../assets/images/food-gallery/ff.jpeg" alt="" />
      <div class="overlay">
        <div class="over"></div>
        <div class="content">
          <h1>Lyulya kebab</h1>
          <p>
            Tender and juicy skewers of ground lamb or beef, flavored with
            aromatic spices and herbs
          </p>
        </div>
      </div>
    </div>
    <div class="box">
      <img src="../../../assets/images/food-gallery/fff.jpeg" alt="" />
      <div class="overlay">
        <div class="over"></div>
        <div class="content">
          <h1>Frittata</h1>
          <p>Frittata or potato pie in a ceramic plate</p>
        </div>
      </div>
    </div>
    <div class="box">
      <img src="../../../assets/images/food-gallery/ffff.jpeg" alt="" />
      <div class="overlay">
        <div class="over"></div>
        <div class="content">
          <h1>Levitation pizza</h1>
          <p>Levitation pizza on black background.</p>
        </div>
      </div>
    </div>
    <div class="box">
      <img src="../../../assets/images/food-gallery/f-5.jpeg" alt="" />
      <div class="overlay">
        <div class="over"></div>
        <div class="content">
          <h1>Pizza</h1>
          <p>Hawaiian pizza with ham and pineapple</p>
        </div>
      </div>
    </div>
  </div>

  <div class="menu">
    to Menu
    <a routerLink="menu">
      <fa-icon style="font-size: 34px" [icon]="food"></fa-icon>
    </a>
  </div>
</div>
