.container {
  background-color: var(--container-background-color);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .logo {
      a {
        font-size: 34px;
        font-weight: bold;
        padding: 10px 20px;
        position: relative;
        color: var(--text-header-color);
        text-decoration: none;
      }
      span {
        color: red;
        position: absolute;
      }
    }

    ul {
      display: flex;
      list-style: none;
      gap: 10%;

      li {
        cursor: pointer;
        position: relative;
        transition: 0.3s;

        a {
          font-size: 24px;
          color: var(--text-link-color);
          transition: 0.3s;

          &.active {
            color: var(--text-link-hover);

            &::before {
              content: "";
              background-color: red;
              height: 3px;
              width: 90%;
              position: absolute;
              bottom: -10px;
              left: 0;
              transition: 0.3s;
            }
          }
        }

        &::before {
          content: "";
          background-color: red;
          height: 3px;
          width: 0%;
          position: absolute;
          bottom: -10px;
          left: 0;
          transition: 0.3s;
        }

        &:hover::before {
          width: 90%;
        }
        &:hover a {
          color: var(--text-link-hover);
        }
      }

      @media (max-width: 768px) {
        & {
          // display: none;
          position: absolute;
          flex-direction: column;
          top: 80px;
          right: -350px;
          background-color: var(--container-background-color);
          width: 350px;
          height: calc(100vh - 50px);
          padding-top: 20px;
          padding-left: 20px;
          transition: 0.3s;
          &.view {
            right: 0px;
          }

          & li {
            margin-top: 0px;
          }
        }
      }
    }

    .color-icon {
      fa-icon {
        font-size: 24px;
        margin-right: 30px;
        cursor: pointer;
      }
    }
  }
}

.white {
  color: white;
}

@media (min-width: 768px) {
  .nav-bars {
    display: none;
  }
}
