<div class="container">
  <nav>
    <div class="logo">
      <a routerLink="">foodera <span>.</span> </a>
    </div>
    <ul class="links" #links>
      <li>
        <a
          (click)="scrollTo('banner')"
          [class.active]="activeLinkId === 'banner'"
          >Home</a
        >
      </li>
      <li>
        <a (click)="scrollTo('chefs')" [class.active]="activeLinkId === 'chefs'"
          >Chefs</a
        >
      </li>
      <li>
        <a
          (click)="scrollTo('food')"
          [class.active]="activeLinkId === 'banner'"
          [class.active]="activeLinkId === 'food'"
          >Gallery</a
        >
      </li>
      <li>
        <a (click)="scrollTo('map')" [class.active]="activeLinkId === 'map'"
          >Contact</a
        >
      </li>
    </ul>
    <div class="color-icon">
      <a (click)="sideBar()">
        <fa-icon
          [icon]="bars"
          class="nav-bars"
          [ngClass]="mood ? 'white' : ''"
        ></fa-icon>
      </a>
      <a routerLink="login" style="color: black">
        <fa-icon [icon]="login" [ngClass]="mood ? 'white' : ''"></fa-icon>
      </a>
      <a (click)="moodClick()">
        <fa-icon [icon]="whiteMoon" *ngIf="!mood"></fa-icon>
        <fa-icon [icon]="darkMoon" *ngIf="mood" class="white"></fa-icon>
      </a>
    </div>
  </nav>
</div>
