<div class="container">
  <div class="heading">
    <p class="chefs-header">chefs</p>
    <p class="p-words">Our <span class="colored">Proffesional</span> Chefs</p>
  </div>
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe
        src="https://maps.google.com/maps?q=restaurant&amp;t=k&amp;z=10&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
        frameborder="0"
        scrolling="no"
      ></iframe>
      <a href="https://blooketjoin.org">blooket join</a>
    </div>
  </div>
  <div class="contact-data">
    <div class="box">
      <fa-icon [icon]="location"> </fa-icon>
      <div class="data">
        <h1>Our Address</h1>
        <p>A108 Adam Street, New York, NY 535022</p>
      </div>
    </div>
    <div class="box">
      <fa-icon [icon]="message"> </fa-icon>
      <div class="data">
        <h1>Email Us</h1>
        <p>contact@example.com</p>
      </div>
    </div>

    <div class="box">
      <fa-icon [icon]="phoone"> </fa-icon>
      <div class="data">
        <h1>Call Us</h1>
        <p>+1 5589 55488 55</p>
      </div>
    </div>
    <div class="box">
      <fa-icon [icon]="share"> </fa-icon>
      <div class="data">
        <h1>Opening Hours</h1>
        <p>Mon-Sat: 11AM - 23PM; Sunday : Closed</p>
      </div>
    </div>
  </div>

  <div class="container-heading">
    <section class="mb-4">
      <div class="contain">
        <form action="#">
          <div class="form-row">
            <div class="input-data">
              <input type="text" required />
              <div class="underline"></div>
              <label for="">Name</label>
            </div>
            <div class="input-data">
              <input type="text" required />
              <div class="underline"></div>
              <label for="">Email Address</label>
            </div>
          </div>
          <div class="form-row">
            <div class="input-data textarea">
              <textarea rows="8" cols="80" required></textarea>
              <br />
              <div class="underline"></div>
              <label for="">Write your message</label>
              <br />
            </div>
          </div>
          <input type="submit" value="submit" class="submit" />
        </form>
      </div>
    </section>
  </div>
</div>
